<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormReceiver</servlet-name>
        <servlet-class>skyforge.sirass.servlet.FormReceiver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generator</servlet-name>
        <servlet-class>skyforge.sirass.servlet.Generator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendPropuesta</servlet-name>
        <servlet-class>skyforge.sirass.servlet.sendPropuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualDate</servlet-name>
        <servlet-class>skyforge.sirass.servlet.actualDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormReceiver</servlet-name>
        <url-pattern>/FormReceiver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services</servlet-name>
        <url-pattern>/Services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generator</servlet-name>
        <url-pattern>/Generator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendPropuesta</servlet-name>
        <url-pattern>/sendPropuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualDate</servlet-name>
        <url-pattern>/actualDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Seguridad -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <exception-type>java.lang.NullPointerException,java.lang.Exception,java.lang.IllegalStateException</exception-type>
        <location>/WEB-INF/jspf/avisos/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jspf/avisos/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jspf/avisos/error.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Admins</display-name>
        <web-resource-collection>
            <web-resource-name>Administradores</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>adminGeneral</role-name>
            <role-name>revision</role-name>
            <role-name>generar</role-name>
            <role-name>consulta</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Prestadores</display-name>
        <web-resource-collection>
            <web-resource-name>Prestador</web-resource-name>
            <description/>
            <url-pattern>/prestador/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>prestador</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Instituciones</display-name>
        <web-resource-collection>
            <web-resource-name>Institución</web-resource-name>
            <description/>
            <url-pattern>/institucion/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>institucion</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>adminGeneral</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>prestador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>institucion</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>revision</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>generar</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>consulta</role-name>
    </security-role>
</web-app>
