<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- P6Spy log -->
        <property name="hibernate.connection.driver_class">com.p6spy.engine.spy.P6SpyDriver</property>
        <!--        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SiRASS</property>
        <property name="hibernate.connection.username">skyforge</property>
        <property name="hibernate.connection.password">skyforge</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.generate_statistics">false</property>
        <!-- mappings -->
        <!-- user -->
        <mapping resource="skyforge/sirass/model/user/Usuario.hbm.xml"/>
        <mapping resource="skyforge/sirass/model/user/Rol.hbm.xml"/>
        <!-- prestador -->
        <mapping resource="skyforge/sirass/model/prestador/Prestador.hbm.xml"/>
        <!-- institucion -->
        <mapping resource="skyforge/sirass/model/institucion/Institucion.hbm.xml"/>
        <mapping resource="skyforge/sirass/model/institucion/CInstitucion.hbm.xml"/>
        <mapping resource="skyforge/sirass/model/institucion/Plantel.hbm.xml"/>
        <!-- admin -->
    <!--    <mapping resource="skyforge/sirass/model/admin/Administrador.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>
